ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    align-items: left;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

#ranu {
    position: absolute;
    margin: auto;
    width: 100px;
    top: 0px;
    right: 0px;
}

#ranua {
    text-align: center;
    margin: auto;
    width: 50%;
    position: absolute;
    top: 200px;
    bottom: 500px;
    left: 100px;
}

#ranub {
    text-align: center;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 350px;
    left: 100px;
}

.ranuc {
    position: absolute;
    bottom: 0px;
    text-align: center;
}